@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

/* Definición de variables */
:root {
  --padding-general: 1.25rem;
  --text-color: #efecec;
  --title-color: #f7a700;
  --light: #d8dbe0;
  --dark: #28292c;
}

/* normalize.css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}

html {
  font-size: 16px;
}

body {
  font-family: "Montserrat", sans-serif;
  line-height: 1.6;
  /* transition: background 0.3s, color 0.3s; */

  /* Para que el footer siempre quede al final */
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
}

body.dark-mode {
  background: #222;
  color: #f1f1f1;

  form {
    background-color: #333;
    border: 1px solid #444;
    color: #f1f1f1;

    input[type="text"],
    input[type="email"],
    textarea {
      background-color: #444;
      color: #f1f1f1;
      border: 1px solid #555;
    }
  }

  form,
  label {
    color: #f1f1f1;
  }
}

h2,
h3,
h4,
h5,
h6 {
  color: var(--title-color);
  margin-bottom: var(--padding-general);
}

p {
  margin-bottom: var(--padding-general);
  text-align: justify;
}

header {
  padding: var(--padding-general);

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.7rem;

  background-color: #0707c6;
  color: var(--text-color);

  h1 {
    margin-top: var(--padding-general);
    text-align: center;
  }
}

.navbar {
  width: 100%;
  /* max-width: 700px; */
  display: flex;
  justify-content: space-between;

  a {
    color: var(--text-color);
  }

  ul {
    width: 80%;
  }
}

.navbar-dydw {
  width: 100%;
  background-color: var(--text-color);
  padding: var(--padding-general);

  a {
    color: rgb(7, 7, 198);
  }
}

.navbar ul,
.navbar-dydw ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  a {
    font-weight: 600;
    transition: font-weight 0.3s ease-out, text-decoration 0.3s ease-out;
  }

  a:hover {
    font-weight: 700;
    text-decoration: underline;
  }
}

/* Botón dark mode */
#theme-toggle span {
  pointer-events: none;
}

#theme-toggle {
  width: 48px;
  height: 48px;
  border: none;
  border-radius: 50%;
  background: none;
  color: #111168;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  transition: background 0.3s;
}

main {
  padding: var(--padding-general);
  margin: 0 auto;

  max-width: 1000px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  /* Para que el footer siempre quede al final */
  flex: 1;
}

.tabla-materias {
  width: 100%;
  max-width: 700px;
  margin-top: var(--padding-general);

  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);

  * {
    padding: 0.5rem;
    text-align: center;
  }
}

.section-avisos {
  h3 {
    margin-top: var(--padding-general);
    margin-bottom: 0.5rem;
  }
}

.section-materias {
  padding: var(--padding-general);
  li {
    margin-bottom: var(--padding-general);
  }
}

.info-perfil {
  display: flex;
  gap: 2rem;
  align-items: center;
  margin-bottom: var(--padding-general);

  img {
    border-radius: 100%;
    width: 150px;
  }
}

/* Estilos para el formulario */
form {
  width: 50%;
  margin: 2rem auto;
  padding: 2rem;
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

fieldset {
  border: none;
}

legend {
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 1rem;
  color: var(--title-color);
}

label {
  display: block;
  margin-bottom: 0.5rem;
  margin-top: 1.5rem;
  color: #555;
  font-size: 1rem;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 0.8rem;
  margin-top: 0.3rem;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 1rem;
  font-family: inherit;
  background-color: #fff;
  box-sizing: border-box;
}

textarea {
  resize: vertical;
  min-height: 7.5rem;
}

input[type="submit"] {
  margin-top: 2rem;
  background-color: #5c6bc0;
  color: white;
  padding: 0.8rem 2rem;
  border: none;
  border-radius: 6px;
  font-size: 1rem;
  cursor: pointer;

  transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
  background-color: #3949ab;
}

.link-externo {
  color: white;
  font-weight: bold;
  text-decoration: underline;
  transition: color 0.3s ease;

  &:hover {
    color: #f7a700;
  }
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: var(--padding-general);
}

@media (max-width: 768px) {
  .main-dydw {
    flex-direction: column;
    gap: 0;
  }

  nav ul {
    flex-wrap: wrap;
    gap: 0.8rem;
  }

  .aside-dydw {
    width: 100%;
  }

  form {
    width: 90%;
  }
}

@media (max-width: 480px) {
  .tabla-materias {
    font-size: x-small;

    * {
      padding: 0.3rem;
    }
  }

  .info-perfil {
    flex-direction: column;
    align-items: center;
  }

  form {
    width: 100%;
  }
}
